<div class="container-fluid container-xl">
    <div class="row">
        <div class="col-12 p-0">
            <div class="mtn-slider" #sliderRef>
                <div *ngFor="let slide of slides; let i = index" id="{{i}}" class="mtn-slider-slide">
                    <div *ngIf="slider" [class]="'bg ' + (slider.details().relativeSlide === i ? 'center' : '')">
                        <img src="{{ slide.img }}" alt="" width="50%">
                        <h1>{{ slide.txt }}</h1>
                        <a href="">Start Here</a>
                    </div>
                </div>
                <a [ngClass]="
                'arrow arrow-left' + (currentSlide === 0 ? 'arrow-disabled' : '')
              " (click)="slider.prev()">
                </a>
                <a class="arrow arrow-right" (click)=" slider.next()">
                </a>
            </div>
        </div>
    </div>
</div>