.mtn-slider {
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    padding: 60px 0 100px;
    margin-bottom: 80px;
}

.mtn-slider, .mtn-slider-slide {
    position: relative
}

.mtn-slider-slide {
    height: 284px;
    margin: 5rem 0;
}

.mtn-slider-slide .bg {
    min-height: 100%;
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box;
    border: 0px solid rgba(150, 150, 150, 0.08);
    background: linear-gradient(#FFFFFF, #EBEBEB);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
    transition: all 500ms ease;
    margin: 0 auto;
}

.mtn-slider-slide .bg:hover {
    background: linear-gradient(180deg, #373737 0%, #191919 100%);
    color: #fff !important;
}

.mtn-slider-slide .center {
    position: absolute;
    border-radius: 16px 16px 16px 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    margin: -5rem -15px -8rem;
    min-height: 100%;
    border-bottom: 6px solid #FFC000;
    border-radius: 16px 16px 16px 16px;
    background: linear-gradient(180deg, #373737 0%, #191919 100%);
    box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.32);
    transition: all 300ms ease;
    z-index: 1000;
}

.mtn-slider-slide img {
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto;
    max-width: 50%;
    border: 0px solid #232323;
    padding: 3rem 0;
}

.mtn-slider-slide h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 0 1rem 3rem;
    margin-bottom: 0;
}

.mtn-slider-slide a {
    display: none;
}

.mtn-slider-slide .center a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #F5F5F5;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 32px;
    text-decoration: none;
    margin-bottom: 3vw;
}

.mtn-slider-slide .center a::after {
    content: '';
    border: 2px solid #F5F5F5;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 3px;
    margin-bottom: 1px;
}

.mtn-slider-slide .bg.center h1 {
    color: #fff;
    font-size: 30px;
}

.mtn-slider[data-mtn-slider-v] {
    flex-wrap: wrap
}

.mtn-slider[data-mtn-slider-v] .mtn-slider-slide {
    width: 100%
}

.mtn-slider[data-mtn-slider-moves] * {
    pointer-events: none
}

[class^="number-slide"], [class*=" number-slide"] {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    height: 220px;
}

.navigation-wrapper {
    position: relative;
}

.arrow {
    height: 40px;
    width: 40px;
    background-color: #232323 !important;
    border-radius: 100%;
    position: absolute;
    padding: 9px 16px;
}

.arrow-left {
    left: 5% !important;
}

.arrow-right {
    right: 5% !important;
}

.arrow-left, .arrow-right {
    top: auto !important;
    bottom: 10%;
}

.arrow-left:hover, .arrow-right:hover {
    background-color: #FFC000 !important;
}

.arrow-left::before, .arrow-right::before {
    content: '';
    border: 2px solid #F5F5F5;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}

.arrow-left:hover::before, .arrow-right:hover::before {
    border: 2px solid #232323;
    border-width: 0 3px 3px 0;
}

.arrow-right::before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: -5px;
}

.arrow-left::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: -5px;
}

@media only screen and (min-width: 768px) {
    .arrow-left {
        left: 20% !important;
    }
    .arrow-right {
        right: 20% !important;
    }
}