<header class="py-3 mb-3">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container" style="min-height:40px">
            <a class="navbar-brand" href="#" style="position: relative; width: 120px;">
                <svg aria-hidden="true" class="mtn-logo" preserveAspectRatio="xMidYMid meet" viewBox="0 0 50 50"
                    style="position: absolute; top: -30px; left:0">
                    <use xlink:href="#icon-logo" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <symbol viewBox="0 0 60 60" id="icon-logo">
                            <g fill="none" fill-rule="evenodd">
                                <path fill="#FFF" d="M0 0h60v60H0z"></path>
                                <path fill="#FFF" d="M3.81 3.81h52v52h-52z"></path>
                                <path fill="#FFC53F" d="M3.81 55.81h52v-52h-52z"></path>
                                <path fill="#2E6E96"
                                    d="M53.99 30.06c0 5.588-10.92 10.118-24.39 10.118-13.472 0-24.392-4.53-24.392-10.119 0-5.589 10.92-10.116 24.391-10.116 13.472 0 24.392 4.527 24.392 10.116">
                                </path>
                                <path fill="#EE443F" d="M28.111 35.07l.38-1.41h2.898l-.378 1.41"></path>
                                <path fill="#FFC53F"
                                    d="M28.707 32.946l1.422-5.559h-2.562l.63-2.563h7.989l-.63 2.563H33.03l-1.424 5.56">
                                </path>
                                <path fill="#FFF"
                                    d="M14.118 34.937l2.519-10.118h4.031v5.895l2.647-5.895h4.158l-2.518 10.118h-2.648l1.51-6.53-3.149 6.53h-2.14v-6.53l-1.64 6.53m17.517 0l2.519-10.118h2.899l1.26 5.382 1.386-5.382h2.646l-2.52 10.118h-2.772l-1.386-5.506-1.385 5.506">
                                </path>
                            </g>
                        </symbol>
                    </use>
                </svg>
            </a>



            <div class="d-none d-lg-flex col-lg-auto me-lg-auto">
                <ul class="nav mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-3 link-dark">Store</a></li>
                    <li><a href="#" class="nav-link px-3 link-dark">Products &amp; Services</a></li>
                    <li><a href="#" class="nav-link px-3 link-dark">Help &amp; Support</a></li>
                    <li><a href="#" class="nav-link px-3 link-dark"></a></li>
                </ul>

            </div>


            <div class="d-flex align-items-center">
                <a href="" class="me-4 ">
                    <img src="assets/img/ic_SEARCH.svg" alt="image"></a>

                <a href="" class="me-4 hb d-lg-none" style="display: inline-block; width:16px; ">
                    <span></span>
                    <span></span>
                </a>

                <div class="d-none d-lg-block d-xl-none">
                    <ng-toggle [(ngModel)]="config.value" [disabled]="config.disabled" [width]="config.width"
                        [height]="config.height" [margin]="config.margin" [labels]="config.labels"
                        [color]="config.color" [switchColor]="config.switchColor" [fontColor]="config.fontColor"
                        [fontSize]="config.fontSize">
                    </ng-toggle>
                </div>

                <div class="flex-shrink-0 dropdown d-none d-xl-block ">
                    <a href="#" class="link-dark text-decoration-none dropdown-toggle me-5" id="dropdownUser2"
                        data-bs-toggle="dropdown" aria-expanded="false">Personal
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="dropdownUser2"
                        style="">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>