#dropdownUser2 {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px !important;
}

#dropdownUser2::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #FFC000;
    border-radius: 100%;
    margin-right: 8px;
}

#dropdownUser2::after {
    content: '';
    border: 2px solid #232323;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-315deg);
    margin-bottom: -1px;
}

.hb span {
    display: block;
    height: 2px;
    background-color: #232323;
    border-radius: 1px;
    margin: 4px 0;
}