@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500&display=swap');
body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    background-color: #e9e9e9;
    color: #232323;
    font-size: 16px;
}

header {
    background-color: rgba(255, 255, 255, 0.96);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    min-height: 75px;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.mtn-logo {
    height: 96px;
    width: 96px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
}

.slick-list {
    margin: 0 -12px;
    padding: 8rem 0 !important;
}

.slick-track {
    transition: all 0.3s ease;
}

.slick-prev {
    left: 5% !important;
}

.slick-next {
    right: 5% !important;
}

.slick-prev, .slick-next {
    top: auto !important;
    bottom: 20%;
}

.slick-prev, .slick-next {
    height: 40px;
    width: 40px;
    background-color: #232323 !important;
    border-radius: 100%;
    z-index: 100;
}

.slick-prev:hover, .slick-next:hover {
    background-color: #FFC000 !important;
}

.slick-prev::before, .slick-next::before {
    content: '';
    border: 2px solid #F5F5F5;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}

.slick-prev:hover::before, .slick-next:hover::before {
    border: 2px solid #232323;
    border-width: 0 3px 3px 0;
}

.slick-next::before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: -5px;
}

.slick-prev::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: -5px;
}

@media only screen and (max-width: 480px) {
    .slick-prev, .slick-next {
        top: auto !important;
        bottom: 10%;
    }
}

@media only screen and (min-width: 1081px) {
    .slick-list {
        margin: 0 -12px;
        padding: 12rem 0 !important;
    }
}